@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <nav class="nav navbar-nav navbar-right">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <nav class="nav-item">
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </nav>
                <nav class="nav-item">
                    <nav class="nav-link">
                        <a href="javascript:document.getElementById('logoutForm').submit()" role="button"> Log Off</a>
                    </nav>
                </nav>


            </div>
        </nav>
    }
}
<style>
    .Manage {
        color: #076776;
    }

    a {
        color: #076776;
    }
</style>

