@{
    ViewBag.Title = "Home Page";
}
    <div class="jumbotron">
        <h1>Welcome to TatTrack!</h1>
        <p>Register to start tracking your tattoos!</p>
    </div>

    <h2>History of Tattoos</h2>

    <div class="card-deck">

        <div class="card">
            <img src="https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjjz72o1a3jAhVJCs0KHXIKD78QjRx6BAgBEAU&url=http%3A%2F%2Fwww.clker.com%2Fclipart-navy-umbrella-clipart.html&psig=AOvVaw0bfPrmnkeY5Ek1PIH0vsi5&ust=1562961993114561" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Authority Tattoo</h5>
                <p class="card-text">"This article by Dan Hunter goes through the timeline of what is know of the history of tattoos up to present day. Also offers photos throughout."</p>
            </div>
        </div>

        <div class="card">
            <img src="https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjjz72o1a3jAhVJCs0KHXIKD78QjRx6BAgBEAU&url=http%3A%2F%2Fwww.clker.com%2Fclipart-navy-umbrella-clipart.html&psig=AOvVaw0bfPrmnkeY5Ek1PIH0vsi5&ust=1562961993114561" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Wikipedia</h5>
                <p class="card-text">"This will offer a more in depth look into the history."</p>
            </div>
        </div>

    </div>






